<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<link rel="stylesheet" href="/stylesheets/style.css" />
	</head>
	<body>
		<h1>Sign up or log in</h1>

		<div>
			<a href="/log-in">
				<button type="button">Log in</button>
			</a>
		</div>
		<br />
		<div>
			<a href="/sign-up">
				<button type="button">Sign up</button>
			</a>
		</div>
	</body>
</html>
