<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Login Form</title>
	</head>
	<body>
		<form action="/users/log-in" method="post">
			<label for="username">Username</label>
			<input type="text" name="username" placeholder="username" />
			<label for="password">Password</label>
			<input type="text" name="password" placeholder="password" />
			<br />
			<input type="submit" value="Log in" />
		</form>
		<br />
		<p><%= message %></p>
	</body>
</html>
